[2026/03/22, 23:49:36] Marc: <style>
  .slider-wrapper {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  .slider-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    user-select: none;
  }
  .slider-slide {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    overflow: hidden;
    margin-right: 20px; /* Add margin between slides */
    width: 202px;
    height: 253px;
  }
  .slider-slide-img {
    width: 202px;
    height: 253px;
    border-radius: 10px;
  }
  .slider-controls {
    display: flex;
    justify-content: flex-end;
  }
  .slider-prev, .slider-next {
    font-size: 20px;
    cursor: pointer;
    width: 10px;
    color: #CDCDCD;
    padding: 0 5px;
  }
  .slider-prev {
    margin-right: 10px;
  }
  .slider-next {
    margin-right: 5px;
  }
</style>

<div class="slider-wrapper">
  <div class="slider-carousel">


    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_virginia-fonseca.png?v=1751396482" alt="Gelo Health banheira de gelo crioterapia Virginia Fonseca">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_nicholas-santos.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia Nicholas Santos">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_marina-pumar.jpg?v=1771106193" alt="Gelo Health banheira de gelo crioterapia Marina Pumar">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_jade-picon.png?v=1751396476" alt="Gelo Health banheira de gelo crioterapia Jade Picon">
    </a>
    
    <!-- <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_caua-reymond.png?v=1711600877" alt="Gelo Health banheira de gelo crioterapia Cauã Reymond">
    </a> -->

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_andre-sanches.png?v=1711600874" alt="Gelo Health banheira de gelo crioterapia Andre Sanches">
    </a>
    
    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_medico.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia Médico">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_cyber-inox.jpg?v=1771106193" alt="Gelo Health banheira de gelo crioterapia Kontrast Club">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_raissa-rossi.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia Raissa Rossi">
    </a>
    
    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_andre-baran.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia André Baran">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_recovery.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia Recovery">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_marc.png?v=1711725086" alt="Gelo Health banheira de gelo crioterapia Marc">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_maratonista.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia Maratonista">
    </a>

    <a class="slider-slide" href="https://instagram.com/gelohealth.com.br" target="_blank">
      <img class="slider-slide-img" src="https://cdn.shopify.com/s/files/1/0715/1950/2645/files/banheira-de-gelo-crioterapia_ibirapuera.png?v=1711600434" alt="Gelo Health banheira de gelo crioterapia Ibirapuera">
    </a>

  </div>
  <div class="slider-controls">
    <div class="slider-prev" onclick="plusSlides(-1)">&#10094;</div>
    <div class="slider-next" onclick="plusSlides(1)">&#10095;</div>
  </div>
</div>

<script>
  const slider = document.querySelector('.slider-carousel');
  const slides = document.querySelectorAll('.slider-slide');
  const slideWidth = slides[0].offsetWidth + 20;
  let currentIndex = 0;

  // Clone slides for seamless looping
  slides.forEach(slide => {
    const clone = slide.cloneNode(true);
    clone.classList.add("clone");
    slider.appendChild(clone);
  });

  let isTransitioning = false;

  function moveSlides() {
    if (isTransitioning) return;
    isTransitioning = true;

    currentIndex++;
    slider.style.transition = "transform 0.5s linear";
    slider.style.transform = ⁠ translateX(${-currentIndex * slideWidth}px) ⁠;

    // When reaching clones
    setTimeout(() => {
      if (currentIndex >= slides.length) {
        slider.style.transition = "none"; // no animation
        currentIndex = 0;                 // reset instantly
        slider.style.transform = ⁠ translateX(0px) ⁠;
      }
      isTransitioning = false;
    }, 500);
  }

  // Auto-scroll
  let slideInterval = setInterval(moveSlides, 2000);

  // Manual controls
  function plusSlides(n) {
    clearInterval(slideInterval);
    currentIndex += n;

    slider.style.transition = "transform 0.5s linear";
    slider.style.transform = ⁠ translateX(${-currentIndex * slideWidth}px) ⁠;

    slideInterval = setInterval(moveSlides, 2000);
  }

  document.querySelector('.slider-prev').onclick = () => plusSlides(-1);
  document.querySelector('.slider-next').onclick = () => plusSlides(1);
</script>